<footer class="site-footer">
  <div class="container footer-grid">
    <section>
      <h2>Menu</h2>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/program/' | relative_url }}">Program</a>
    </section>
    <section>
      <h2>Contact</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSei1UJcF31vOdPKhLjtBJSuzrrJte7AEMoDIFEEhnqyDdp5bw/viewform?usp=publish-editor">Contact</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfw-aFieiydaN495GTPq5Li6nAVZT9sk578kctQEVZ0iP3Hdw/viewform?usp=dialog">Get involved</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0wwmgGW82EUEgJS8Jm4CD4XuCdRMA74uGYTHfbBubNPltAQ/viewform?usp=publish-editor">Press</a>
    </section>
    <section>
      <h2>Follow</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdJqYQ15IG4nLV4qXf8BW2lZ1_2Efn-dXQWzCuL6SyUoxwuKw/viewform?usp=dialog">Mailing list</a>
      <a href="https://www.instagram.com/sydgamesfest/">Instagram</a>
      <a href="https://bsky.app/profile/sydneygamesfest.bsky.social">Bluesky</a>
      <a href="https://www.linkedin.com/company/sydney-games-festival/">LinkedIn</a>
    </section>
    <section class="acknowledgement">
      <p class="footer-logo">Sydney Games<br>Fest 2026</p>
      <p>Sydney Games Fest acknowledges the Gadigal people of the Eora Nation, the Traditional Custodians of the land on which we gather and connect. We pay respects to Elders past and present and recognise that this always was and always will be Aboriginal land.</p>
    </section>
  </div>
</footer>
